@import "fonts";
@import "nullstyle";
@import "responsive";


.container{
  max-width: 1200px;
}
main{
  overflow-x: hidden;
}
.burger-menu {
  position: relative;
  display: block;

  &.burger-menu_active .burger-menu_nav {
    top: 0;
  }

  &.burger-menu_active .burger-menu_overlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &.burger-menu_active .burger-menu_button.first {
   z-index: 1;

  }
  .burger-menu_button {
    position: relative;
    z-index: 1001;
    border: none;
    width: 30px;
    height: 23px;
    top: 14px;
    right: 0;
    background: url("../images/menu burger (1).png") no-repeat center;
    background-size: contain;
    cursor: pointer;


  }

  .burger-menu_nav {
    position: fixed;
    z-index: 990;
    display: flex;
    flex-direction: column;
    width: 23%;
    height: 100vh;
    top: -200%;
    right: 0;
    transition: .4s;
    background: #000000;
    border-radius: 0 4px 4px 0;
    padding: 40px 40px 40px 40px;
    .burger-menu_button{
      background: url("../images/Group.png") no-repeat center;
      background-size: contain;
      width: 20px;
      height: 20px;
      &.two{
        position: absolute;
        right: 30px;
        top: 20px;
      }
    }

    .burger-menu_link {
      display: inline-block;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #FFFFFF;
      margin-bottom: 10px;

      &.second {
        font-weight: 300;
      }

      &.first {
        margin-bottom: 15px;
      }

      &:hover {
        transform: translateY(2px);
      }
    ;
    }

    .burger-menu_overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 10;
    }

    .btn-1 {
      margin-bottom: 20px;
      justify-content: left;
      align-items: center;

      &.first {
        margin-top: 25px;
      }

      a {
        @extend %btn-1;
        padding: 5px 0 !important;
        width: 238px;
        height: 48px !important;
        background: none !important;
        border: 1px solid #ffffff !important;
        color: #ffffff !important;
        font-size: 14px !important;
        line-height: 18px !important;
      }
    }
  }
}
%header-btn {
  width: 205px;
  height: 48px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  border: 1px solid #ffffff;
  border-radius: 4px;
}
.btn-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-2{
  display: flex;
  align-items: center;
  justify-content: center;
}
%btn-1 {
  background: linear-gradient(90deg, #C09667 0%, #C1915C 100%);
  box-shadow: 0 15px 25px rgba(193, 145, 92, 0.05);
  border-radius: 4px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  padding: 0 50px;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  &:before {
    content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -5.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  &:hover {
    background-color: #000000;
    color: #fff;
    &:before {
      transform: skewX(-45deg) translateX(36.5em);
      transition: all 0.6s ease-in-out;
    }
  }
}
@keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0);
  }
  100% {
    transform: skewY(-45deg) translateX(12.5em);
  }
}
@keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0);
  }
  100% {
    transform: skewY(-45deg) translateX(12.5em);
  }
}

$color1: #ffffff;
%button {
  color: $color1;
  display: flex;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;

  }
  &:hover {
    background-color: #000000;
    color: #fff;
    &:before {

      transform: skewX(-45deg) translateX(33.5em);
      transition: all 0.5s ease-in-out;
    }
  }
}
%btn-2{
  background: none;
  border: 1px solid #C1915C;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #C1915C;
  padding: 0 50px;
  height: 78px;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  &:before {
    content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -5.4em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  &:hover {
    background-color: #000000;
    color: #C1915C;
    &:before {
      transform: skewX(-45deg) translateX(36.5em);
      transition: all 0.6s ease-in-out;
    }
  }
}
.section-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  color: #000000;
}
.section-title.mobile{
  display: none;
}
.section-subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}
.scale {
  display: inline-block; /* Строчно-блочный элемент */
  overflow: hidden; /* Скрываем всё за контуром */
  border-radius: 4px;
}
.scale img {
  transition: 1s; /* Время эффекта */
  display: block; /* Убираем небольшой отступ снизу */
}
.scale img:hover {
  transform: scale(1.2); /* Увеличиваем масштаб */
}
.flicker {
  animation: flicker 1s infinite; /* Параметры анимации */
}
.gloss {
  animation: gloss 4s ease-out 0s infinite; /* Параметры анимации */
}
@keyframes flicker {
  from { opacity: 1; /* Непрозрачный текст */ }
  to { opacity: 0; /* Прозрачный текст */ }
}
.scrollup {
  width: 40px;
  height: 40px;
  opacity: 0.5;
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: none;
  text-indent: -9999px;
  z-index: 998;
  background: url(../images/icon_top.png) no-repeat;
}
header {
  background: #000000;

  .header-top {
    padding: 22px 0 12px 0;
    display: flex;
    align-items: center;

    .logo {
      margin-right: 158px;
      img {
        width: 192px;
        height: auto;
        display: block;
      }

      span {
        font-size: 14px;
        line-height: 17px;
        color: #C1915C;
        margin-top: 10px;
      }
    }
    .center-box{
      display: flex;
      align-items: baseline;
      justify-content: center;
      margin-right: 82px;
      .contacts-box-left {
        position: relative;
        padding-right: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &:after{
          content: "";
          border: 1px solid rgba(153, 153, 153, 0.6);
          height: 50px;
          width: 1px;
          position: absolute;
          right: 0;
          top: 0;
        }
        p{
          font-size: 15px;
          line-height: 20px;
          display: flex;
          align-items: center;
          color: #FFFFFF;
          margin-bottom: 10px;
        }
        a{
          font-size: 15px;
          line-height: 20px;
          color: #FFFFFF;
          img {
            margin-right: 10px;
          }
        }
      }
      .contacts-box-right {
        display: flex;
        flex-direction: column;
        margin-left: 24px;
        a{
          font-weight: 600;
          font-size: 17px;
          line-height: 22px;
          color: #FFFFFF;
          &:first-child {
            margin-bottom: 10px;
          }
          img {
            width: 20px;
            height: 20px;
            margin-right: 10px;
          }
        }
      }
      .messengers {
        margin-left: 14px;
        display: flex;
        .viber {
          margin-right: 10px;
        }
      }
    }
    .right-box{
      .call-btn{
        margin-right: 39px;
        @extend %header-btn;
        @extend %button;
      }

    }
  }
  nav {
    border-top: 0.5px solid rgba(153, 153, 153, 0.6);
    padding: 11px 0;
    .nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      li {
        &.sale{
          animation: flicker 2s infinite;
        }
        a {
          font-weight: 600;
          font-size: 10px;
          line-height: 14px;
          display: flex;
          align-items: center;
          color: #999999;
          text-transform: uppercase;
          &:hover{
            color: #999999;
            transform: translateY(2px);
          }
        }
      }
    }
  }
  .tel_mobile{
    display: none;
  }
  .header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #000000;
    margin: auto;
    animation-name: show-header;
    animation-duration: 1s;
    z-index: 999;
    height: 71px;
  }
  .header-fixed_wrapper{
    display: none;
  }
  .header-fixed_wrapper.header-fixed {
    display: flex;
  }

  .header-fixed-box{
    display: flex;
    justify-content: space-between;
    padding: 20px 0 30px 0;
    .logo-fixed {
      margin-right: 36px;
      img{
        width: 146px;
        height: 20px;
      }
    }
    nav{
      border-top: none;
      .nav-menu {
        display: flex;
        align-items: center;
        li {
          margin-right: 15px;
          a {
            font-weight: 600;
            font-size: 10px;
            line-height: 14px;
            display: flex;
            align-items: center;
            color: #999999;
            text-transform: uppercase;
            &:hover{
              color: #999999;
              transform: translateY(2px);
            }
          }
        }
      }
    }
    .right-box-fixed {
      .links {
        margin-left: 34px;
        margin-right: 50px;
        align-items: center;
        .tel {
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
          color: #FFFFFF;
          margin-right: 12px;
        }
        a {
          margin-right: 10px;
        }
      }
      .burger-menu{
        .burger-menu_button{
          top: 7px;
          right: 0;
          &.two{
            position: absolute;
            right: 30px;
            top: 20px;
          } 
        }
      }

    }

  }
}
.section-subtitle.mobile {
  display: none;
}
#home {
  padding: 0;
  .home-slider{
    position: relative;
    .items{
      background: url("../images/slider-1.png")no-repeat center;
      background-size: cover;
      height: 674px;
      width: 100%;
      position: relative;
      z-index: 2;
      overflow-x: hidden;
      &:before{
        content: "";
        background: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
      }
      &.second{
        background: url("../images/slider-2.png")no-repeat bottom;
        background-size: cover;
      }
      &.third{
        background: url("../images/slider-3.png")no-repeat bottom;
        background-size: cover;
      }
      &.four{
        background: url("../images/slider-4.png")no-repeat bottom;
        background-size: cover;
      }
      &.five{
        background: url("../images/slider-5.png")no-repeat bottom;
        background-size: cover;
      }
      &.six{
        background: url("../images/slider-6.png")no-repeat bottom;
        background-size: cover;
      }
      &.seven{
        background: url("../images/slider-7.png")no-repeat bottom;
        background-size: cover;
      }
    }
  }
  .content{
    position: absolute;
    width: 100%;
    left: 0;
    top: 213px;
    z-index: 900;

    .box {
      width: 60%;
      padding: 36px  0 64px 0;
      z-index: 99;
      &:before {
        background: rgba(0, 0, 0, 0.6);
        border-radius: 0 4px 4px 0;
        content: "";
        position: absolute;
        width: 60%;
        height: 432px;
        left: 0;
        top: 0;
      }
      h1{
        font-weight: bold;
        font-size: 50px;
        line-height: 55px;
        color: #FFFFFF;
        margin-bottom: 30px;
        position:relative;
      }
      p{
        font-size: 30px;
        position: relative;
        line-height: 40px;
        color: #FFFFFF;
        margin-bottom: 70px;
      }
      .btn-1 {
        a{
          @extend %btn-1;
          &.first{
            width: 253px;
            margin-right: 47px;
          }
          &.second{
            width: 336px;
            background: none;
            border: 1px solid #ffffff;
          }
        }
      }
    }
  }
}
#home-btn-mobile{
  padding: 40px 0 50px 0;
  background: #000000;
  .btn-1 {
    margin-bottom: 32px;
    a{
      height: 56px;
      width: 220px;
      font-size: 14px;
      line-height: 20px;
      padding: 0 11px;
      @extend %btn-1;
    }
  }
  .btn-2 {
    a {
      height: 56px;
      width: 220px;
      font-size: 14px;
      line-height: 20px;
      padding: 0 11px;
      color: #ffffff!important;
      border: 1px solid #ffffff!important;
      @extend %btn-2;
    }
  }
}
.owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: 10px!important;
  position: absolute!important;
  left: 0!important;
  right: 0!important;
  bottom: 24px!important;
}
.owl-theme .owl-dots .owl-dot span {
  width: 12px!important;
  height: 12px!important;
  margin: 5px 7px;
  background: #ffffff!important;
  display: block;
  opacity: 0.2!important;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease!important;
  border-radius: 30px!important;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #ffffff!important;
  opacity: 1!important;
}
#exclusive {
  padding: 64px 0 79px 0;
  .section-title {
    margin-bottom: 67px;
  }
  .box {
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    a {
      text-transform: uppercase;
      display: inline-block;
      margin: 16px auto 0 auto;
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;

      text-align: center;
      color: #000000;
      transition: 1ms ease;
      &:hover{
        font-weight: 600;
      }
    }
  }
  .btn-1 {
    margin-top: 38px;
    a{
      @extend  %btn-1;
      img{
      margin-right: 10px;
    }
    }
  }
}
#home-btn-mobile{
  display: none;
}
#professional-design {
  padding: 61px 0 79px 0;
  background: url("../images/design background.png")no-repeat center;
  background-size: cover;
  position: static;
  .section-title {
    margin-bottom: 34px;
  }
    .box {
      background: rgba(0, 0, 0, 0.85);
      border-radius: 4px;
      padding: 45px 45px;
      margin-bottom: 74px;
      .items {
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        img {
          margin-right: 34px;
        }
       p{
         font-size: 20px;
         line-height: 30px;
         color: #FFFFFF;
       }
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
    .btn-1{
      a{
        @extend %btn-1;

      }
    }
  }

#design-project {
  background: url("../images/photo-project-background.png")no-repeat center;
  background-size: cover;
  padding: 70px 0 82px 0;
  .section-title {
    margin-bottom: 20px;
  }
  .section-subtitle {
    margin-bottom: 732px;
  }
  .btn-1 {
    a{
      @extend %btn-1;

    }
  }
}
#portfolio {
  padding: 60px 0 75px 0;
  .section-title {
    margin-bottom: 20px;
  }
  .section-subtitle {
    margin-bottom: 40px;
  }
  .box {
    margin-bottom: 30px;
    border-radius: 4px;
  }
  .btn-1{
    margin-top: 18px;
    a{
      @extend %btn-1
    }
  }
}
#materials {
  padding: 65px 0 80px 0;
  background: url("../images/furniturematerials furniture background.png")no-repeat center;
  background-size: cover;
  position: static;
  .section-title{
    margin-bottom: 137px;
  }
    .box {
      width: 505px;
      position: relative;
      background: url("../images/bg.png")no-repeat;
      background-size: contain;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 220px;
      padding: 0 50px;
      p{
        font-size: 20px;
        line-height: 30px;

        text-align: center;
        color: #000000;
        margin-top: 30px ;
      }
      img{
        position: absolute;
        left: -6px;
        right: 0;
        top: -25px;
        margin: auto;
      }
    }
  .btn-1 {
    margin-top: 125px;
    a {
      @extend %btn-1;

      &:first-child{
      margin-right: 285px;
    }
    }
  }
}
#social {
  padding: 80px 0 75px 0;
  background: url("../images/social background.png")no-repeat center;
  background-size: cover;
  position: static;
  .section-title {
    margin-bottom: 20px;
  }
  .section-subtitle{
    margin-bottom: 66px;
  }
  .box {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    padding: 40px 45px 47px 45px;
    margin-bottom: 48px;
    .items {
      margin-bottom: 40px;
      display: flex;
      align-items: center;
      img {
        margin-right: 34px;
      }
      p{
        font-size: 20px;
        line-height: 30px;
        color: #000000;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .social-box {
    margin-left: 40px;
    a{
      margin-right: 23px;
    }
  }
}
#cooperation {
  padding: 90px  0 73px 0;
  .section-subtitle {
    display: flex;
    align-items: center;
    margin-bottom: 49px;
    margin-top: 20px;
    img {
      margin-right: 15px;
    }
  }
  .box{
    background: #FFFFFF;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    text-align: center;
    padding: 23px 0 31px 0;
    margin-bottom: 30px;
    .box-title {
      font-weight: 600;
      font-size: 22px;
      line-height: 30px;
      color: #000000;
      margin-bottom: 16px;
    }
    .description{
      font-size: 18px;
      line-height: 26px;
      color: #000000;
    }
  }
  .btn-1 {
    margin-top: 50px;
    a{
      @extend %btn-1
    }
  }
}
#cooperation-mobile{
  padding: 50px 0;
  display: none;
  .section-title{
    margin-bottom: 20px;
  }
  .section-subtitle {
    display: flex;
    align-items: center;
    img {
      width: 25px;
      height: 25px;
      margin-right: 20px;
    }
    p{
      font-size: 16px;
      line-height: 20px;
    }
  }
  .box {
    margin-top: 20px;
    background: #FFFFFF;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding: 30px;
    .items{
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      img {
        margin-top: -30px;
        margin-right: 10px;
      }
      .text {
        margin-top: -10px;
        .box-title {
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
        }
        .description{
          font-size: 12px;
          line-height: 16px;
          margin-top: 6px;
        }
      }
    }
  }
  .btn-1{
    margin-top: 30px;
    a{
      height: 56px!important;
      width: 220px!important;
      padding: 0 10px!important;
      font-size: 14px!important;
      line-height: 26px!important;
      @extend %btn-1;
    }
  }
}
#about {
  padding: 66px 0 0 0;
  background: #070707;
  .section-title {
    color: #ffffff;
    margin-bottom: 30px;
  }
  .box-img {
    width: 720px;
    margin-left: -199px;
    img {
      width: 100%;
      height: 692px;
    }
  }
  .box {
    .title{
      font-size: 24px;
      line-height: 34px;
      color: #FFFFFF;
      margin-bottom: 45px;
    }
    .items {
      display: flex;
      align-items: center;
      margin-bottom: 27px;
      &:last-child{
        margin-bottom: 87px;
      }
      img {
        margin-right: 20px;
      }
      p {
        font-size: 22px;
        line-height: 32px;
        color: #FFFFFF;
      }
    }
  }
  .statistics{
    margin-bottom: 99px;
    .static-wrap {
      .num {
        p{
          font-size: 60px;
          line-height: 40px;
          color: #C29F5B;
          text-align: left;
          span {
            font-weight: 300;
            font-size: 24px;
            margin-left: -6px;
          }
        }
      }
      p{
        font-size: 18px;
        line-height: 26px;
        color: #FFFFFF;
        &.second {
          margin-left: 7px;
        }
        &.last{
          margin-top: 11px;
          margin-left: 7px;
        }
      }
    }

  }
}
#advantages{
  background: #F3F3F3;
  padding: 72px 0 42px 0;
  .section-title {
    margin-bottom: 71px;
  }
  .box {
    &:before{
      content: "";
      background: url("../images/opyt-raboty.svg")no-repeat center;
      background-size: contain;
      width: 60px;
      height: 80px;
      position: absolute;
      left: -30px;
      top: 30px;
    }
    position: relative;
    padding: 40px 30px 41px 55px;
    width: 340px;
    height: 265px;
    background: url("../images/Subtract.png")no-repeat center;
    background-size: cover;
    margin-bottom: 53px;
    .box-title {
      font-weight: 600;
      font-size: 22px;
      line-height: 30px;
      color: #000000;
      margin-bottom: 20px;
    }
    .description{
      font-size: 18px;
      line-height: 26px;
      color: #000000;
    }
    &.second:before{
      background: url("../images/individualnyj-podhod.svg")no-repeat center;
    }
    &.third:before{
      background: url("../images/bez-salona.svg")no-repeat center;
    }
    &.four:before{
      background: url("../images/individualnyj-podhod.svg")no-repeat center;
    }
    &.five:before{
      background: url("../images/professionalnoe-oborudovanie.svg")no-repeat center;
    }
    &.six:before{
      background: url("../images/sborka-i-montazh.svg")no-repeat center;
    }
  }
}
#scheme {
  padding: 80px 0 100px 0;
  .section-title{
    margin-bottom: 20px;
  }
  .section-subtitle{
    margin-bottom: 50px;
  }
  .box {
    background: #FFFFFF;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding: 40px;
    .box-title{
      font-weight: 600;
      font-size: 30px;
      line-height: 30px;
      text-align: center;
      color: #000000;
      margin-bottom: 40px;
    }
    .box-items{
      display: flex;
      .left{
        margin-right: 28px;
        .num {
          background: linear-gradient(0deg, #C1915C 0%, #C09667 94.09%);
          font-weight: 600;
          font-size: 30px;
          line-height: 30px;
          display: flex;
          align-items: center;
           justify-content: center;
          text-align: center;
          color: #FFFFFF;
          border-radius: 50%;
          width: 50px;
          height: 50px;
        }
        .line{
          height: 178px;
          width: 1px;
          background: #c4c4c4;
          margin: 0 auto;

        }
      }
      .right{
        .title{
          font-weight: 600;
          font-size: 24px;
          line-height: 40px;
          color: #000000;
          margin-bottom: 15px;
        }
        .description  {
          font-size: 20px;
          line-height: 30px;
          color: #000000;
          margin-bottom: 40px;
        }
      }
    }
  }
  .btn-1 {
    margin-top: 69px;
    a{
      @extend %btn-1;
      &.second{
      width: 336px;
    }
    }
  }
  .pdf{
    margin-top: 100px;
    background: url("../images/pdf-bg.png")no-repeat center;
    background-size: cover;
    padding: 30px 0 0 40px;
    h3 {
      margin-bottom: 18px;
      color: #ffffff;
    }
    .description{
      margin-bottom: 17px;
      p{
        font-size: 22px;
        line-height: 32px;
        color: #FFFFFF;
      }
    }
    a {
      font-size: 17px;
      line-height: 24px;
      color: #C1915C;
      border-bottom: 1px solid #C1915C;
    }
  }
}
#pdf{
  display: none;
}

#questions{
  padding: 62px 0 110px 0;
  background: #F3F3F3;
  .section-title {
    margin-bottom: 61px;
  }
  .accordion {
    border-radius: 4px;
    margin-bottom: 30px;
  .accordion-header {
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 26px 25px 30px;
    border-radius: 4px;
    .ques{
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      color: #000000;
    }
  }
    .panel {
      background: #ffffff;
      padding: 0 30px 11px 30px;
    p{
      font-size: 18px;
      line-height: 26px;
      color: #000000;
    }
    }
  }
  .any-box{
    padding: 30px 10px 38px 10px;
    background: #ffffff;
    border-radius: 4px;
    text-align: center;
    width: 370px;
    .box-title{
      font-weight: 600;
      font-size: 30px;
      line-height: 40px;
      color: #000000;
      margin-bottom: 5px;
    }
    .subtitle{
      font-size: 20px;
      line-height: 30px;
      color: #000000;
    }
    img {
      margin: 29px 0 15px 0;
      width: 165px;
      height: 165px;
    }
    .name{
      font-weight: 600;
      font-size: 16px;
      line-height: 30px;
      color: #000000;
      text-transform: uppercase;
    }
    .description{
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #000000;
    }
    .btn-1{
      margin-top: 32px;
      a{
        @extend %btn-1;
        height: 68px;
      }
    }
  }
}
.accordion.accordion-expanded  .panel{
  display: block;
}
.accordion.accordion-expanded .accordion-header{
  padding: 26px 26px 5px 30px!important;
}
.accordion.accordion-expanded .accordion-header img {
  transform: rotate(180deg);
}
.accordion .panel{
  display: none;
}
footer {
  background: #070707;
  padding: 60px 0 0 0;

  .title {
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-bottom: 16px;
  }

  .contacts {
    .section-title {
      color: #ffffff;
      margin-bottom: 38px;
    }

    .contacts-data {
      display: flex;
      margin: 16px 0 40px 0;

      .number {
        display: flex;
        flex-direction: column;
        margin-right: 18px;

        a {
          font-size: 18px;
          line-height: 26px;
          color: #FFFFFF;
          margin-bottom: 5px;

          img {
            width: 20px;
            height: 20px;
            margin-right: 12px;
          }
        }
      }
    }

    .description {
      font-size: 18px;
      line-height: 26px;
      color: #FFFFFF;

      &.first {
        margin: 16px 0 57px 0;
      }
    }

    .btn-1 {
      margin-top: 93px;
      display: flex;
      justify-content: left;

      a {
        @extend %btn-1;

      }
    }

    .btn-2 {
      margin-top: 94px;
      display: flex;
      justify-content: left;

      a {
        @extend %btn-2
      }
    }

    .btn-box {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
    }

    .btn-3 {
      margin-top: 0;
      margin-bottom: 56px;

      a {
        @extend .btn-1;
        width: 290px;
        margin-top: 0;
        border: 1px solid #ffffff;
        color: #ffffff;
        height: 68px;
        padding: 0 30px;
        border-radius: 4px;

        img {
          margin-right: 20px;
          width: 30px;
          height: 30px;
        }
      }
    }
    .btn-social{
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      .social-box {
        a {
          margin-left: 21px;

        }
      }
    }
    .btn-box-mobile{
      display: none;
    }
    .map {
      margin-top: 59px;

      iframe {
        height: 446px;
        width: 100%;
      }
    }

    .video {
      margin-bottom: 54px;

      img {
        height: 520px;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .footer {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 40px 0 38px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      width: 192px;

      p {
        font-size: 14px;
        line-height: 17px;
        color: #C1915C;
        margin-top: 10px;
      }
    }

    .box {
      width: 210px;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      color: rgba(255, 255, 255, 0.8);
    }

    .politic {
      justify-content: center;

      a {
        text-transform: uppercase;
        font-size: 12px;
        line-height: 12px;
        display: flex;
        align-items: center;
        color: rgba(255, 255, 255, 0.6);
        border-bottom: 0.5px solid rgba(255, 255, 255, 0.6);
        transition: .2s ease-in-out;

        &:hover {
          color: #FFFFFF;
          border-bottom: 0.5px solid #FFFFFF;
        }
      }
    }
  }
}
.white-popup-block {
  position: relative;
  z-index: 999!important;
  width: 450px;
  height: auto;
  background: #ffffff;
  padding: 50px 30px 57px 30px;
  text-align: center;
  border-radius: 4px;
  .section-title{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #181818;
  }
  p{
    font-size: 16px;
    line-height: 24px;
    margin: 20px 0 52px 0;
    color: #181818;
  }
  input {
    width: 250px;
    height: 48px;
    background: #EEEEEE;
    border-radius: 4px;
    margin-bottom: 22px;
    padding: 10px;
    border: none;
    &::placeholder{
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: #999999;
      opacity: 0.6;

    }
  }
  .btn-1{
    a{
      @extend %btn-1;
      padding: 0;
      font-size: 14px!important;
      width: 250px;
      height: 48px!important;
    }
  }

}
.mfp-close-btn-in .mfp-close {
  color: #C1915C!important;
  font-size: 50px!important;
  margin:  14px 14px 0 0!important;
}
.mfp-bg{
  background: #000000!important;
  opacity: 0.6!important;
  z-index: 1012;
}
#send {
  width: 643px;
  padding: 50px 57px 34px 57px;
  p{
    text-align: center;
  }
    form{
      input{
        width: 100%;
        &:last-child{
          margin-bottom: 0;
        }
      }
      .right-input{
        background: #EEEEEE;
        border-radius: 4px;
        padding: 23px 0 0 30px;
        height: 118px;
        input {
          box-sizing: border-box;
          border-radius: 4px;
          font-weight: 600;
          font-size: 12px;
          line-height: 18px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #444444;
          flex-direction: column;
        }
        p{
          text-align: left;
          font-size: 12px;
          line-height: 18px;
          color: #999999;
          opacity: 1;
        }
      }
      .btn-1{
        margin-top: 36px;
      }
    }
}
